/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid black;
}

.tulisan {
    font-size: x-large;
    text-align: justify;
    margin-top: 100px;
}
