'{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  	<meta charset="UTF-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="all"?>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"crossorigin="anonymous">
  {% block meta %}
  <title>Lilis Safitri</title>
  {% endblock meta %}
</head>

<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar" style="background-color:#F3AD78">
    <div class="container">
        <a class="navbar-brand nav-link" href="{% url 'main:home' %}">Lilis Safitri</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="{% url 'main:home' %}">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="{% url 'main:create' %}">Create</a>
            <a class="nav-item nav-link active" href="{% url 'main:register' %}">Register</a>
            <a class="nav-item nav-link active" href="{% url 'admin:index' %}">Admin</a>
          </div>
        </div>
    </div>
  </nav>


  {% block content %}
  {% endblock content %}
  <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
