{% extends "base.html" %} 
{% load static %}

{% block meta %}
    {{page_title}}
{% endblock meta %}

{% block content %}
<body style = "background-color:#F3AD78"> 
    <!--Isi Website-->
    <div id="home">
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <div class="judul" style="margin-top: 100px">
                        <h1 class="text-center" style="color: black;">{{page_title}}</h1>
                    </div>
                </div>
            </div>    
        </div>
        <div class="container">
            <div class="row">
                 <div class="col-md">
                    <a href = "{% url 'main:create'%}" class="btn btn-primary" type="Submit" style = "width: 150px">Create Event</a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for x in posts_form %}
                    <div class="col-md-4">
                       <div class="card" style="width: 18rem; margin-top: 10px">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{x.event}}</h5>
                                {% for y in post_form %}
                                    {% if y.kegiatan_id == x.id %}
                                        <p class="card-text">{{y.register}}</p>
                                    {% endif %}
                                {% endfor %}
                                <a href = "{% url 'main:register' %}" class="btn btn-primary" type="Submit">Register</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}   
            </div> 
        </div>
    </div>
</body>
{% endblock content %}
