{% extends "base.html" %} 
{% load static %}

{% block meta %}
	{{page_title}}
{% endblock meta %}

{% block content %}
	<h1 class = "text-center" style = "margin-top: 100px"> {{page_title}} </h1>

	<form method= "POST">
		{% csrf_token %}
		<div class = "container">
			<div class="form-group container" style="margin-top: 10px">
				{{post_form.register.label}}
				{{post_form.register}}

			<button class="btn btn-primary" type="Submit" style="margin-top: 10px">Register Now!</button>
			</div>
		</div>
	</form>
{% endblock content %}